<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/vendor/fontawesome-free/css/all.min.css" />
    <include path="~/css/sb-admin-2.min.css" />
  </styleBundle>
  <styleBundle path="~/Content/cssTable">
    <include path="~/vendor/datatables/dataTables.bootstrap4.min.css" />

  </styleBundle>
</bundles>